{% extends 'base.html'%}
{% load static %}

{% block main %}
<p class="fs-1 text-center mt-5">Funcionários</p>
<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3">
    <div class="container-fluid">
        <a href="{% url 'funcionarios_list' %}" class="navbar-brand">Lista de Funcionários</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'novo_funcionario' %}">Novo funcionario</a>
                </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gerir funcionarios
          </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'salarios_create' %}" class="dropdown-item">Processar Salários</a></li>
                    <li><a href="{% url 'salarios_list' %}" class="dropdown-item">Recibos</a></li>
                    <li><a href="{% url 'escaloes_list' %}" class="dropdown-item">Escalões IRS</a></li>
                    <li><a href="{% url 'update_escola' user.utilizador.escola.id  %}" class="dropdown-item">Segurança Social</a></li>

                </ul>

            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="dgv">

<div class="resultado">
    <div class="titulos">
        <div class="titulo c1">ID</div>
        <div class="titulo c2">Funcionário</div>
        <div class="titulo c3">Data</div>
        <div class="titulo c4">Valor</div>
        <div class="titulo c5">Operações</div>

    </div>
        {% for salario in Salarios_list %}
    <div class="dados">
        <div class="linhadados">
            <div class="coluna c1">{{salario.id}}</div>
            <div class="coluna c2">{{salario.funcionario}}</div>
            <div class="coluna c3">{{salario.data_fim}}</div>
            <div class="coluna c4">{{salario.valor}}</div>
            <div class="coluna c5">
                <div>
                    <a onclick="exibirPopUPConfirmacao('{{salario.id}}', '{{salario.funcionario}}', '{{salario.data_fim}}');"><img src="{% static 'images/delete.svg' %}" alt="eliminar"></a>
                    <a href="#"><img src="{% static 'images/edit.svg' %}" alt="editar"></a>

                </div>


            </div>
        </div>
    </div>
    {% endfor %}
</div>



</div>

<script src="{% static '/js/mensalidadepagamento.js' %}"></script>

<script>

    function exibirPopUPConfirmacao(id,nome,mes){
        if (confirm("Tem a certeza que pretende eliminar salário do mês "+mes+ " de " +nome+ " ?")){
            window.location.href = "/salarios/eliminar/"+id+"/"

        if (confirm("Pretende eliminar o salario da rubrica de despesas? ")){
            window.location.href = "/salarios/eliminar/"+id+"/"
        }
        else{
            alert("Salário não eliminado das despesas")
        }
    }
        else {
            alert("Ação cancelada.")
        }
    }
</script>


{% endblock%}