{% extends 'base.html' %}
{% load static %}
{% block main %}


<p class="fs-1 text-center mt5">Mensalidade</p>
<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Lista de Alunos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'criar_mensalide' %}">Nova Mensalidade</a>
                </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gerir mensalidades
          </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'mensalidade_aluno' %}" class="dropdown-item">Mensalidade por aluno</a></li>
                    <li><a href="{% url 'mensalidade_atraso' %}" class="dropdown-item">Mensaliades em atraso</a></li>
                    <li><a href="{% url 'update_escola' user.utilizador.escola.id  %}" class="dropdown-item">Alterar valor Mensalidade</a></li>

                </ul>

            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <form method="GET" class="form-container d-flex align-items-center"> 
                <div class="d-flex flex-column ms-3">
                    <label>Mês</label>
                    <select id="mes" name="mes" class="form-select form-select-sm mb-3" aria-label="Small select example" onchange="salvarValorSelecionado()">
                        {% for mes in meses %}
                            <option value="{{ mes }}">{{ mes }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-flex flex-column ms-3"> <!-- Adicione margem à esquerda para separar os selects -->
                    <label for="ano">Ano letivo</label>
                    <select id="ano" name="ano" class="form-select form-select-sm mb-3" aria-label="Small select example">
                        {% for ano in anos_letivos %}
                            <option value="{{ano}}">{{ano}}/{{ano|add:1}}</option>
                        {% endfor %}
                    </select>

                </div>
                <button type="submit" class="btn btn-info ms-3 ">Filtrar</button>
                 
            </form>
        </div>
    </div>
</div>



<div class="dgv">
    <div class="resultado">
        <div class="titulos">
            <div class="titulo c1">ID</div>
            <div class="titulo c2">Nome</div>
            <div class="titulo c3">Mês</div>
            <div class="titulo c4">Ano</div>
            <div class="titulo c5">Valor Mensaldiade</div>
            <div class="titulo c6">Pago</div>
        </div>


        {% for mensalidade in mensalidades %}

        <div class="dados">
            <div class="linhadados">
                <div class="coluna c1">{{ mensalidade.aluno.id }}</div>

                <div class="coluna c2">{{ mensalidade.aluno.nome }}</div>

                <div class="coluna c3">{{ mensalidade.mes}}</div>
                <div class="coluna c4">{{ mensalidade.ano }}</div>

                <div class="coluna c5">{{ mensalidade.aluno.calcular_valor_mensalidade }}</div>
                <div class="coluna c6">
                    <input type="checkbox" id="paga-{{ mensalidade.id }}" onchange="atualizarMensalidade('{{ mensalidade.id }}')" {% if mensalidade.paga%}checked{%endif%} >
                </div>




            </div>
            {% endfor %}
        </div>


        </div>
        
        

    </div>


    <script src="{% static '/js/mensalidadepagamento.js' %}"></script>

    {% endblock %}

