{% extends 'base.html' %}
{% load static %}

{% block main %}


<p class="fs-1 text-center">Despesas</p>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Lista de Despesas Mensais</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'despesas_create' %}">Nova despesa</a>
                </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gerir Despesas
          </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'tipo_despesa_create' %}" class="dropdown-item">Inserir tipo</li>
                    <li><a href="{% url 'tipo_despesas_list' %} " class="dropdown-item">Remover tipo</li>
                    <li><a href="#" class="dropdown-item">Relatórios</a></li>

                </ul>

            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" value="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="container text-center mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <form method="get" class="form-container d-flex align-items-center"> 
                <div class="d-flex flex-column ms-3">
                    <label>Mês</label>
                    <select id="mes" name="mes" class="form-select form-select-sm mb-3" aria-label="Small select example" onchange="salvarValorSelecionado()">
                        {% for mes in meses %}
                            <option value="{{ mes }}">{{ mes }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-flex flex-column ms-3"> <!-- Adicione margem à esquerda para separar os selects -->
                    <label for="ano">Ano letivo</label>
                    <select id="ano" name="ano" class="form-select form-select-sm mb-3" aria-label="Small select example">
                        {% for ano in anos_letivos %}
                            <option value="{{ano}}">{{ano}}/{{ano|add:1}}</option>
                        {% endfor %}
                    </select>

                </div>
                <button type="submit" class="btn btn-info ms-3 ">Filtrar</button>
                 
            </form>
        </div>
    </div>
</div>



<div class="dgv">
    <div class="resultado">
        <div class="titulos">
            <div class="titulo cd1">ID</div>
            <div class="titulo cd2">Tipo</div>
            <div class="titulo cd3">Fatura</div>
            <div class="titulo cd4">Descrição</div>
            <div class="titulo cd5">Descrição</div>
            <div class="titulo cd6">Valor</div>
            <div class="titulo cd7">Operações</div>
        </div>
            {% for despesa in despesas_list %}
        <div class="dados">
            <div class="linhadados">
                <div class="coluna cd1">{{despesa.id}}</div>
                <div class="coluna cd2">{{despesa.tipo}}</div>
                <div class="coluna cd3">{{despesa.fatura}}</div>
                <div class="coluna cd4">{{despesa.descricao}}</div>
                <div class="coluna cd5">{{despesa.data.day}}/{{despesa.data.month}}/{{despesa.data.year}}</div>
                <div class="coluna cd6">{{despesa.valor}}</div>
                <div class="coluna cd7">
                    <div>
                        <a onclick="exibirPopUPConfirmacao('{{despesa.id}}','{{despesa.descricao}}')"><img src="{% static 'images/delete.svg' %}" alt="eliminar"></a>
                        <a href="{% url 'despesas_edit' despesa.id %}"><img src="{% static 'images/edit.svg' %}" alt="editar"></a>
                        {% if despesa.ficheiro %}
                        <a href="{{ despesa.ficheiro.url }}" download><img src="{% static 'images/file.svg' %}" alt="ficheiro"></a>

                        {% else %}

                        {% endif %}
                    </div>
                </div>

                </div>
            </div>
            
            {% endfor %}
            <p>total</p> <p></p>
        </div>
    </div>

<p>{{ mes_get }}</p>
<p> {{ ano_get }}</p>
</div>

<script src="{% static  '/js/mensalidadepagamento.js'%}"></script>
<script>
function exibirPopUPConfirmacao(id, nome){
    if (confirm("Tem a certeza que pretende eliminar "+ nome+" ?")){
        window.location.href="/gestaoFinanceira/eliminarDespesa/"+id+"/"
        
    }
}

</script>


{% endblock %}