{% extends 'base.html' %}

{% load static %}

{% block main %}
<p class="fs-1 text-center mt-5">Funcionários</p>
<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3">
    <div class="container-fluid">
        <a href="{% url 'funcionarios_list' %}" class="navbar-brand">Lista de Funcionários</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'novo_funcionario' %}">Novo funcionario</a>
                </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gerir funcionarios
          </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'salarios_create' %}" class="dropdown-item">Processar Salários</a></li>
                    <li><a href="{% url 'salarios_list' %}" class="dropdown-item">Recibos</a></li>
                    <li><a href="{% url 'escaloes_list' %}" class="dropdown-item">Escalões IRS</a></li>
                    <li><a href="{% url 'update_escola' user.utilizador.escola.id  %}" class="dropdown-item">Segurança Social</a></li>
                    <li><a href="{% url 'historic_funcionario' %}" class="dropdown-item">Histórico Funcionários</a></li>

                </ul>

            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="form-control text-center">

    <p><strong>ID:</strong> {{ detailFuncionario.id}}</p>
    <p><strong>Nome:</strong> {{ detailFuncionario.nome}}</p>
    <p><strong>Salário:</strong> {{ detailFuncionario.salario }}</p>
    <p><strong>Horas contratatadas:</strong> {{ detailFuncionario.horas_contrato }}</p>
    <p><strong>Função:</strong> {{ detailFuncionario.funcao }}</p>
    <p><strong>IRS:</strong> {{ detailFuncionario.irs }}</p>
    <p><strong>IBAN:</strong> {{ detailFuncionario.iban }}</p>
    <p><strong>Duodécimos:</strong> {{ detailFuncionario.duodecimos }}</p>
    <p><strong>Data Início:</strong> {{ detailFuncionario.data_inicio }}</p>
    <p><strong>Data Fim:</strong>{% if detailFuncionario.data_fim is None %}  Sem data   {% else %} {{ detailFuncionario.data_fim}} {% endif %}</p>

    {% if detailFuncionario.ativo == True %}
    <a href="{% url 'end_funcionario' detailFuncionario.id %}" class="btn btn-danger">Terminar Contrato</a>
    {% else %}

    <a href="{% url 'historic_funcionario' %}" class="btn btn-info">Voltar</a>

    {% endif %}

</div>





{% endblock %}