{% extends 'base.html' %}

{% block main %}
{% if object %}
<p class="fs-2 mt-5 text-center">Editar Funcionário</p>
{% else %}

<p class="fs-2 mt-5 text-center">Novo Funcionário</p>

{% endif %}

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <form method="post" class="mt-3 form-control">
                {% csrf_token %}
                {{ form}}
                {% if object %}
                <button type="submit" class="btn btn-secondary mt-3">Atualizar Funcionário</button>
                {% else %}
                <button type="submit" class="btn btn-secondary mt-3">Criar Funcionário</button>
                {% endif %}
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}
