* {
    margin: 0;
    padding: 0;
}

/* INDEX.html */
.align-right{
    text-align: right;
    padding-left: 150px;
}
.btn-main{
}

/* estudantes lista */


.dgv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;


}
.resultado{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 1200px;


}
.titulo{
    border-right: 1px solid #ddd;
}

.titulos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: inherit;
    background-color: #248;
    color: #fff;


}
.dados{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: inherit;

}

.linhadados{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: inherit;
    background-color: #d6d6d6;
}

.c1{
    width: 5%;
}
.c2{
    width: 40%;
}
.c3{
    width: 10%;
}
.c4{
    width: 10%;
}
.c5{
    width: 20%;
}
.c6{
    width: 15%;
}

/* atividades / mensalidades*/
.ca1{
    width: 5%;
}
.ca2{
    width: 40%;
}
.ca3{
    width: 15%;
}
.ca4{
    width: 15%;
}
.ca5 {
    width: 25%
}

/* Despesas */

.cd1 {
    width: 5%;
}
.cd2 {
    width: 20%;
}
.cd3 {
    width: 15%;
    
}
.cd4 {
    width: 15%;
}
.cd5 {
    width: 15%;
}
.cd6 {
    width: 15%;
}
.cd7 {
    width: 20%;
}


/*  */
.ce1{
    width: 5%;
}
.ce2{
    width: 225%;
}
.ce3{
    width: 20%;
}
.ce4{
    width: 15%;
}
.ce5{
    width: 15%;
}
.ce6{
    width: 20%;
}

