{% extends 'base.html' %}

{% load static %}
{% block main %}

<p class="fs-1 text-center mt-5">Estudantes</p>
<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3">
    <div class="container-fluid">
        <a href="{% url 'atividades_list' %}" class="navbar-brand">Lista de Atividades</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'atividade_new' %}">Novo Atividade</a>
                </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gerir Alunos
          </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'alunos_list' %}" class="dropdown-item">Lista de Alunos</a></li>
                    <li><a href="{% url 'aluno_new' %}" class="dropdown-item">Novo Aluno</a></li>
                    <li><a href="{% url 'aluno_historic' %}" class="dropdown-item">Histórico de alunos</a></li>

                </ul>

            </ul>

            <form class="d-flex justify-content-end" method="get" action="{% url 'atividades_list' %}">
                <input type="text" name="query_atividades" value="{{ query_atividades }}" placeholder="Pesquisar atividade">
                <button type="submit" class="btn btn-info">Pesquisar</button>
            </form>
        </div>
    </div>
</nav>



<div class="row text-center mt-5">

<div class="col-4"></div>

    <div class="col-4">
{% if objects %}

    <h1 class="text-center mt-5">Editar Atividade</h1>

{% else %}
<h1 class="text-center mt-5">Nova Atividade</h1>

{% endif  %}

<form class="form-control text-center mt-1" method="post">

    {% csrf_token %}
    {{ form }}
        <button type="submit" class="btn btn-primary mt-2">Gravar</button>
</form>

</div>
  <div class="col-4"></div>
</div>





{% endblock %}