{% extends 'base.html' %}
{% load static %}

{% block main %}


<p class="fs-1 text-center mt-5">Estudantes</p>
<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3">
    <div class="container-fluid">
        <a href="{% url 'alunos_list' %}" class="navbar-brand">Lista de Alunos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'aluno_new' %}">Novo Aluno</a>
                </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gerir Alunos
          </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'atividades_list' %}" class="dropdown-item">Lista de atividades</a></li>
                    <li><a href="{% url 'atividade_new' %}" class="dropdown-item">Nova Atividade</a></li>
                    <li><a href="{% url 'aluno_historic' %}" class="dropdown-item">Histórico de alunos</a></li>

                </ul>

            </ul>

            <form class="d-flex justify-content-end" method="get" action="{% url 'alunos_list' %}">
                <input type="text" name="query_alunos" value="{{ query_alunos }}" placeholder="Pesquisar aluno">
                <button type="submit" class="btn btn-info">Pesquisar</button>
            </form>
        </div>
    </div>
</nav>



<div class="dgv">
    <div class="resultado">
        <div class="titulos">
            <div class="titulo c1">ID</div>
            <div class="titulo c2">Nome</div>
            <div class="titulo c3">Ano Matrícula</div>
            <div class="titulo c4">Atividades</div>
            <div class="titulo c5">Operações</div>
        </div>


        {% if tipo_lista == 'ativos' %}
        {% for aluno in alunos_list %}


       
        <div class="dados">
            <div class="linhadados">
                <div class="coluna c1">{{ aluno.id }}</div>
                <div class="coluna c2"><a href="{% url 'aluno_detail' aluno.id %}">{{ aluno.nome}}</a></div>
                <div class="coluna c3">{{ aluno.ano_matricula }}</div>
                <div class="coluna c4">
                     {% if aluno.atividade.all %}
                    {% for atividade in aluno.atividade.all %}
                          {{ atividade.nome }}
                          |
                    {% endfor %}
                    {% else  %}

                    {% endif %}
                </div>
                <div class="coluna c5">
                   <div>
                <a onclick="exibirPopUPConfirmacao('{{ aluno.id }}', '{{ aluno.nome }}');">
                    <img style="cursor: pointer;" title="Eliminar {{ aluno.nome }}"  src="{% static 'images/delete.svg' %}"></a>

                        <a href="{% url 'aluno_edit' aluno.id %}"><img src="{% static 'images/edit.svg' %}" title="Editar {{ aluno.nome }}"></a>

                       <a onclick="exibirPopUpConfirmacaoRenovaMatricula('{{aluno.id}}', '{{ aluno.nome}}');">
                           <img src="{% static 'images/restart.svg' %}" title="Renovar matrícula {{ aluno.nome }}"></a>


                       <a onclick="exibirPopUpConfirmacaoTermoMatric('{{ aluno.id }}', '{{ aluno.nome }}');">
                           <img style="cursor: pointer;" src="{% static 'images/close.svg' %}" title="Anular matrícula {{ aluno.nome }}"></a>
                    </div>
                </div>
                <div class="coluna c6">


                </div>




            </div>
        </div>

        {% endfor %}

        {% else  %}

        {% for aluno in historic_alunos %}



        <div class="dados">
            <div class="linhadados">
                <div class="coluna c1">{{ aluno.id }}</div>
                <div class="coluna c2"><a href="{% url 'aluno_detail' aluno.id %}">{{ aluno.nome}}</a></div>
                <div class="coluna c3">{{ aluno.ano_matricula }} - {{ aluno.ano_saida }}</div>
                <div class="coluna c4">
                     {% if aluno.atividade.all %}
                    {% for atividade in aluno.atividade.all %}
                          {{ atividade.nome }}
                          |
                    {% endfor %}
                    {% else  %}

                    {% endif %}
                </div>
                <div class="coluna c5">
                   <div>
                <a onclick="exibirPopUPConfirmacao('{{ aluno.id }}', '{{ aluno.nome }}');">
                    <img style="cursor: pointer;" title="Eliminar {{ aluno.nome }}"  src="{% static 'images/delete.svg' %}"></a>

                       <a href=""><img src="{% static 'images/restart.svg' %}" title="Reativar matrícula {{ aluno.nome }}"></a>
                    </div>
                </div>
                <div class="coluna c6">


                </div>




            </div>
        </div>

        {% endfor %}

        {% endif %}





    </div>
</div>

<div>

</div>
<script>
function exibirPopUPConfirmacao(id, nome) {
    if (confirm("Tem a certeza que pretende eliminar " + nome + "?")) {
        window.location.href = "/alunos/eliminar/" + id + "/";
    }
}

function exibirPopUpConfirmacaoTermoMatric (id, nome) {
    if (confirm("Tem a certeza que pretende terminar a matricula de " + nome + "?")) {
        window.location.href = "/alunos/removerMatricula/" + id + "/";
    }
  }


function exibirPopUpConfirmacaoRenovaMatricula(id, nome){
    if (confirm("Confirma a renovação da matrícula para o próximo ano letivo de " + nome + "?")){
        window.location.href = "/alunos/renovarMatricula/"+id+ "/";
    }

    }
</script>



{% endblock %}